/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#barrasuperior{
    height: 5vh;
}

#subsuperior{
    margin-top: 5vh;
}

#logo{
    color : rgb(173, 14, 14);
}


#busca{
    text-align: center;
    color : rgb(173, 14, 14);
}

#barralinha{
    border-left: 2vw;
    border-right: 2vw;
}

#tabelalinhas{
    padding-left: 8vw;
    padding-right: 8vw;
    margin-top: 10px;
}

.btn-danger{
    background-color: rgb(173, 14, 14);
}

.btn-danger:hover{
    background-color: #910707;
}

 .table-responsive{
 	 width: 80vw;
	 overflow-y:auto;
 }

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 90vh}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 5px;
    background-color: #c7c2c2;
   height: 100vh
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.btn-menu{
    margin-top: 1em;
    margin-bottom: 1em;
}