<%- include partials/head.ejs %>
<body>
<%- include partials/navbar.ejs %>

    <div class="container-fluid">
        <div class="row content">
            <%- include partials/sidenav.ejs %>

            


        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>
