<% include partials/head.ejs %>
<body>
  <% include partials/facebook.ejs %>
	<% include partials/navbar.ejs %>

	<div class="container-fluid">
  		<div class="row content">
			<% include partials/sidenav.ejs%>
    	<div class=" container-fluid col-12 col-sm-12 col-md-8 col-lg-9 col-xl-10 text-left">

			<h1 id = "busca" >Busca por Referência</h1>

			<form id="barralinha">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<input class="form-control" id="buscareferencia" type="text" placeholder="Buscar referências especificas...">
          </div>
        </div>
      </form>

		<div  id = "tabelareferencias" >
			<div class="container">

				<div class="row">
          <%for(let i = 0; i < rows.length; i++) { %>
  				  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
    					<div class="card mb-4 box-shadow">
                <a href='/referencias/<%=rows[i].nome%>'>
    					  <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="<%=rows[i].foto%>" data-holder-rendered="true">
    					       <div class="card-body">
    						<p class="card-text"><%=rows[i].nome%></p>
    					  </div>
                </a>
    					</div>
  				  </div>
            <% }%>

					</div>
					</div>

				</div>


  		</div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#buscareferencia").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#tabelareferencias tr").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>

</body>
</html>
